doctype html
html(ng-app="events")
	head
	body(ng-controller="AppController")


		script(type="text/javascript",src="angular.js")
		script(type="text/javascript",src="app.js")
		script(type="text/javascript",src="async.js")
		script(type="text/javascript",src="benchmark.js")
		script(type="text/javascript",src="events.js")
		script(type="text/javascript",src="events2.js")
		script(type="text/javascript",src="events3.js")
		script(type="text/javascript",src="events4.js")
		script(type="text/javascript",src="events2Opt.js")
		script(type="text/javascript",src="events3Opt.js")
		script(type="text/javascript",src="events4Opt.js")
		script(type="text/javascript",src="lodash.js")
		script(type="text/javascript",src="platform.js")
